<header id="header">
	<h1 id="logo"><a href="{{ site.baseurl }}">BW's <span>Blog</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="{{ site.url }}"><span class="icon fa-home">Home</span></a></li>
			<li><a href="{{ site.baseurl }}"><span class="icon fa-book">Blog</span></a></li>
			<li><a href="{{ site.baseurl }}/Archives-Page"><span class="icon fa-archive">Archives</span></a></li>
			<li><a href="{{ site.baseurl }}/Tag-Cloud-Page"><span class="icon fa-cloud">Tag Cloud</span></a></li>
			<li class="submenu">
				<a>主題</a>
				<ul>
					<li><a href="{{ site.baseurl }}/Tech-Note-Page">技術筆記</a></li>
					<!--
					<li><a href="{{ site.baseurl }}/Mood-Essey-Page">心情雜記</a></li>
					<li><a href="{{ site.baseurl }}/Tech-Note-Page">技術筆記</a></li>
					<li class="submenu">
						<a href="{{ site.baseurl }}/Novel-Page">小說隨筆</a>
						<ul>
							<li><a href="{{ site.baseurl }}/Novel-No-Topic">無題</a></li>
						</ul>
					</li>
					-->
				</ul>
			</li>
			<li><a href="&#109;ailto&#58;s&#98;w23%319&#64;g&#109;&#97;&#105;%&#54;C&#46;&#99;&#111;&#109;" class="button special">Contact Me</a></li>
		</ul>
	</nav>
</header>