<!DOCTYPE html>
<html>
	{% include head.html %}

	<body class="no-sidebar">
		{% include header.html %}

		<div class="page-content">
			{{ content }}
		</div>

		{% if page.signature %}
			{% include signature.html %}
		{% endif %}
		
		{% if page.comments %}
			<div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = {{ page.url }};
					this.page.identifier = {{ page.id }};
				};
				
				(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://bws-blog.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
		
		{% include footer.html %}
	</body>
	{% if page.comment-count %}
		<script id="dsq-count-scr" src="//bws-blog.disqus.com/count.js" async></script>
	{% endif %}
</html>