---
layout: default
---

<article id="main">
	<header class="special container">
		<span class="icon fa-tag"></span>
		<h2 class="post-title">Posts tagged by &lt;{{ page.title }}&gt;</h2>
	</header>

	<section class="style4 wrapper container">
		<ul>
			{% for post in site.posts %}
				{% for tag in post.tags %}
					{% if tag contains page.tag %}
						<li class="wrapper style1">
							<h2 style="margin-bottom:0em"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
							<p>Posted By {% if post.author %}{{ post.author }}{% endif %}{% if post.meta %}{{ post.meta }}{% endif %} on {{ post.date | date: "%b %-d, %Y" }}</p>
							<p>
								{% for tag in post.tags %}
									<a href="{{ site.baseurl }}/tag-cloud/Tag-{{ tag }}"><span style="border-radius:10px;background-color:#337ab7;color:white">{{ tag }}</span></a>&nbsp;
								{% endfor %}
							</p>
							{{ post.excerpt }}
							<section class="special">
								<ul class="buttons">
									<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
								</ul>
							</section>
						</li>
						
					{% endif %}
				{% endfor %}
				{% unless forloop.last %}
					<hr style="border: 1px solid #ccc">
				{% endunless %}
			{% endfor %}
		</ul>
	</section>
</article>